    
    <footer class="footer">
        <p class="footer-title">Copyrigths   &copf;  <%= new Date().getFullYear();%> <span>Sayed Abdo</span></p>

        <div class="contact-info">
            <a href="https://www.linkedin.com/in/sayed-abdo-3b69a51b2/ " target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/sayed4900 " target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100005457633832" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </footer>
    
  </body>
</html>