    
    <footer class="footer">
        <p class="footer-title">Copyrigths   &copf;  <%= new Date().getFullYear();%> <span>Sayed Abdo</span></p>

        <div class="contact-info">
            <a href="https://www.linkedin.com/in/sayed-abdo-3b69a51b2/ " target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/sayed4900 " target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100005457633832" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
    <script>
        const socket = io();
        socket.on("connect", () => {
            friendsId.forEach((friend) => {
              socket.emit("joinRoom", friend);
            });
          });
          
          // Function to handle the "newLike" event
        socket.on("newLike", ({ post, userId, friends }) => {
            // Process the received data here
            console.log("New like received!");
            console.log("Post:", post);
            console.log("User ID:", userId);
            console.log("Friends:", friends);
        });
          
          // You can also handle any errors that occur during the communication
        socket.on("error", (error) => {
            console.error("Socket error:", error);
        });
    </script>
</body>
</html>