
<%- include('./partials/header'); -%>

    <h1 style="text-align: center; margin:30px"><%= msg  %></h1>
    <a href="/post/feed">
        <button class="btn" style="margin: 0 auto;">Return to feed</button>
    </a>



