<%- include('./partials/header.ejs') %>

<h1>FEED</h1>
<!-- on the feed create render the images on ancher tag which lead to the post  -->
<div class="feed">

    <ul>
        <% posts.forEach(post => { %>
            
        <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= post._id%>">
                <img class="img" src="<%= post.image%>">
            </a>
        </li>
            
        <% }) %>
    </ul>
        
</div>
<div class="col-6 mt-5">
    <a class="btn btn-primary" href="/">Return to Profile</a>
    
  </div>
<%- include('./partials/footer.ejs') %> 
